* {
	background:			#121a1e;
	background-alt:		#1d272b;
	brdr:               #1d272b;
    foreground:			#d4d5d8;
    foresel:            #d4d5d8;
    selected:			#1d272b;
	urgent:				#E06C75;
	on:					#87A181;
	off:				#D88B9F;
}
